page-category {

    button.button{
        margin: 10%;
        margin-left: 35%;
        margin-top: 10%;
        display: bottom;
        opacity: 0.6;
        background-color: rgba(0, 0, 0, 0);
        border: solid 1px;
        color: #CCCCCC;
        width: 40%;
    }
}
