page-results {
    // opacity: 0.1;
    div.scroll-content{
        background-image: url(../../assets/imgs/cong.gif);
        border-style: groove;
        
    }
    h1{
        color:white;
    }
}

